{% extends "layout.twig" %}

{% block content %}
	<section id="play">
		<span id="timer">4</span>
		<div class="switcher">
			<img id="chord" src="" />
		</div>
		
		<a href="/" id="stop">I'm done rocking.</a>

		<span class="chords hide">{{ chords }}</span>
		<span class="interval hide">{{ interval }}</span>
	</section>
{% endblock %}