{% extends "layout.twig" %}

{% block content %}
	<section id="select">
		<p>Select some chords you'd like to play</p>

		<form id="chord-selector" method="post" action="/play">
			<h2>Majors</h2>
			<ul class="chords">
				<li><label>A</label><input type="checkbox" name="chords[]" value="A" /></li>
				<li><label>E</label><input type="checkbox" name="chords[]" value="E" /></li>
				<li><label>D</label><input type="checkbox" name="chords[]" value="D" /></li>
				<li><label>G</label><input type="checkbox" name="chords[]" value="G" /></li>
				<li><label>C</label><input type="checkbox" name="chords[]" value="C" /></li>
				<li><label>F</label><input type="checkbox" name="chords[]" value="F" /></li>
				<li><label>B</label><input type="checkbox" name="chords[]" value="B" /></li>
			</ul>

			<h2>Minors</h2>
			<ul class="chords">
				<li><label>A</label><input type="checkbox" name="chords[]" value="Am" /></li>
				<li><label>D</label><input type="checkbox" name="chords[]" value="Dm" /></li>
				<li><label>E</label><input type="checkbox" name="chords[]" value="Em" /></li>
				<li><label>F</label><input type="checkbox" name="chords[]" value="Fm" /></li>
			</ul>

			<div class="select-container">
				<p>How long between transfers?</p>
				<select name="interval">
					<option value="0.5">0.5 seconds</option>
					<option value="1">1 second</option>
					<option value="2">2 seconds</option>
					<option value="3">3 seconds</option>
					<option value="4">4 seconds</option>
					<option value="5">5 seconds</option>
				</select>
			</div>

			<input type="submit" value="Let's go!" />
		</form>
	</section>
{% endblock %}